<div class="container-list-car">
<div class="sub-tree d-flex" style="margin-left:80px;margin-top: -40px;">
<a href="#">
  <p class="fw-bold">Cars</p>
</a>
<i class="fa fa-solid fa-chevron-right mx-2"></i>
<a href="#">
  <p class="fw-bold">List Car</p>
</a>
</div>
  <div class="list-button" style="margin-top: -20px;">
    <span class="list-car">List Car</span>
    <div class="button-right">
      <a button type="button" class="btn btn-primary" href="/dashboard3" style="margin-left: 130vh" >
          
        <img src="./images/fi_plus.png" alt="icon-plus" /> Add New Car
      </button></a>
    </div>
  </div>
  <div class="btn-group" aria-label="Basic example" style="margin-left:85px;">
    <button type="button" class="btn btn-outline-primary">All</button>
    <button type="button" class="btn btn-outline-primary">Small</button>
    <button type="button" class="btn btn-outline-primary">Medium</button>
    <button type="button" class="btn btn-outline-primary">Large</button>
  </div>
  <br /><br />
  <section class="listcar">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <img src="./images/fi_car.png" alt="img-car" />
      </h5>
      <p>Nama/Tipe Mobil</p>
      <h6>Rp 430.000 / hari</h6>
      <p class="card-text">
        <img src="./images/fi_key.png" alt="icon-key" />Start rent - Finish rent
      </p>
      <p class="card-text">
        <img src="./images/fi_clock.png " alt="icon-clock" />Updated at 4 Apr
        2022, 09.00
      </p>
   <div class="d-flex">
    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash"></i> Delete</button>
   <a href="/dashboard4" class="btn btn-success" ><i class="fas fa-edit"></i> Edit</a>
    </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <img src="./images/fi_car.png" alt="img-car" />
      </h5>
      <p>Nama/Tipe Mobil</p>
      <h6>Rp 430.000 / hari</h6>
      <p class="card-text">
        <img src="./images/fi_key.png" alt="icon-key" />Start rent - Finish rent
      </p>
      <p class="card-text">
        <img src="./images/fi_clock.png " alt="icon-clock" />Updated at 4 Apr
        2022, 09.00
      </p>
         <div class="d-flex">
    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash"></i> Delete</button>
   <a href="/dashboard4" class="btn btn-success" ><i class="fas fa-edit"></i> Edit</a>
    </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <img src="./images/fi_car.png" alt="img-car" />
      </h5>
      <p>Nama/Tipe Mobil</p>
      <h6>Rp 430.000 / hari</h6>
      <p class="card-text">
        <img src="./images/fi_key.png" alt="icon-key" />Start rent - Finish rent
      </p>
      <p class="card-text">
        <img src="./images/fi_clock.png " alt="icon-clock" />Updated at 4 Apr
        2022, 09.00
      </p>
   <div class="d-flex">
    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash"></i> Delete</button>
   <a href="/dashboard4" class="btn btn-success" ><i class="fas fa-edit"></i> Edit</a>
    </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <img src="./images/fi_car.png" alt="img-car" />
      </h5>
      <p>Nama/Tipe Mobil</p>
      <h6>Rp 430.000 / hari</h6>
      <p class="card-text">
        <img src="./images/fi_key.png" alt="icon-key" />Start rent - Finish rent
      </p>
      <p class="card-text">
        <img src="./images/fi_clock.png " alt="icon-clock" />Updated at 4 Apr
        2022, 09.00
      </p>
        <div class="d-flex">
    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash"></i> Delete</button>
   <a href="/dashboard4" class="btn btn-success" ><i class="fas fa-edit"></i> Edit</a>
    </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <img src="./images/fi_car.png" alt="img-car" />
      </h5>
      <p>Nama/Tipe Mobil</p>
      <h6>Rp 430.000 / hari</h6>
      <p class="card-text">
        <img src="./images/fi_key.png" alt="icon-key" />Start rent - Finish rent
      </p>
      <p class="card-text">
        <img src="./images/fi_clock.png " alt="icon-clock" />Updated at 4 Apr
        2022, 09.00
      </p>
   <div class="d-flex">
    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash"></i> Delete</button>
   <a href="/dashboard4" class="btn btn-success" ><i class="fas fa-edit"></i> Edit</a>
    </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <img src="./images/fi_car.png" alt="img-car" />
      </h5>
      <p>Nama/Tipe Mobil</p>
      <h6>Rp 430.000 / hari</h6>
      <p class="card-text">
        <img src="./images/fi_key.png" alt="icon-key" />Start rent - Finish rent
      </p>
      <p class="card-text">
        <img src="./images/fi_clock.png " alt="icon-clock" />Updated at 4 Apr
        2022, 09.00
      </p>
        <div class="d-flex">
    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash"></i> Delete</button>
   <a href="/dashboard4" class="btn btn-success" ><i class="fas fa-edit"></i> Edit</a>
    </div>
    </div>
  </div>
</div>
</section>